body {
	font-family: "Poppins", sans-serif;
	background-color: "#f8f2ff";
}
.card-login-intro {
	width: 850px;
	height: 899px;
	left: 500px;
	top: 61px;
	padding: 10px 10px;
	text-align: center;
	color: #fff;
	background: linear-gradient(
		180deg,
		#ff9078 54.45%,
		rgba(254, 222, 215, 0.54) 128.92%
	);
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	z-index: 1;
}
.card-login-intro h1 {
	color: #fff;
	font-size: 50px;
	font-weight: 800;
	line-height: 50px;
	margin-bottom: 56px;
}

.card-login-intro p {
	font-size: 22px;
	font-weight: 400;
	line-height: 28px;
}
.card-login {
	width: 640px;
	height: 775px;
	top: 125px;
	padding: 20px 60px;
	border-radius: 20px;
	background-color: #f5f5f5;
	padding: 63px;
	box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
	z-index: 2;
}
.ornamen-img-login1 {
	width: 96.16px;
	height: 413px;
	top: 46px;
	z-index: 3;
}
.ornamen-img-login2 {
	width: 378.63px;
	height: 99.83px;
	left: 313.37px;
	z-index: 3;
}
.ornamen-img-login3 {
	width: 164.54px;
	height: 473.85px;
	left: 1440px;
	top: 549.94px;
	z-index: 3;
}
.judul {
	font-size: 50px;
	font-weight: 800;
	line-height: 28px;
	text-align: center;
	margin-bottom: 71px;
}
.bantu {
	font-size: 20px;
	font-weight: 500;
	padding-top: 30px;
	padding-bottom: 30px;
}

.bantu a {
	color: black;
	text-decoration: none;
	padding-left: 230px;
}

.tombol-login {
	width: 511px;
	height: 59px;
	background: #874ce5;
	border-radius: 5px;
	color: #fffcfc;
	font-weight: 700;
	font-size: 20px;
	border: none;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.regis a {
	font-weight: 600;
	font-size: 20px;
	color: black;
	text-decoration: none;
}
.alternatif {
	font-weight: 500;
	font-size: 20px;
	color: #898786;
	/* margin-left: 150px; */
	margin-top: 100px;
	display: inline;
}
.gf {
	margin-top: 20px;
	margin-left: 80px;
}
