body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

* {
  z-index: 2;
}

/* nav */
.navbar {
  z-index: 3;
}
.nav-link {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}

/* hero */
#hero {
  background: linear-gradient(180deg, #ff9078 62.58%, rgba(254, 222, 215, 0.54) 155.21%);
  height: 100vh;
  width: 100%;
}
.hero-tagline h1 {
  color: #fff;
  font-weight: 800;
  font-size: 50px;
  line-height: 55px;
  text-align: center;
  margin-top: 150px;
  margin-left: 100px;
  width: 80%;
}
.hero-tagline p {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 40px;
}
.tombol-big {
  background-color: #9747ff;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border: none;
  width: 248px;
  height: 40px;
  text-align: center;
  margin-left: 400px;
}
.img-hero {
  z-index: 1;
  margin-top: 100px;
}
.ornamen-img {
  z-index: 1;
}

/* alasan */
#alasan {
  padding: 250px 0 0 0;
}
.h2 {
  font-weight: 600px;
  font-size: 40px;
  line-height: 28px;
  text-align: center;
  color: black;
}
.card-alasan {
  width: 189px;
  height: 192px;
  border-radius: 20px;
  background-color: #eeecec;
  padding: 5px 20px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.1s ease-in;
}

.card-alasan h3 {
  font-size: 20px;
  margin-top: 130px;
  transition: all 0.2s ease-in;
}
/* hover */
.card-alasan:hover {
  width: 189px;
  height: 192px;
  border-radius: 20px;
  background-color: #c79dfe;
  padding: 5px 20px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.1s ease-in;
}

.card-alasan:hover h3 {
  font-size: 20px;
  margin-top: 130px;
  color: #ffffff;
  transition: all 0.2s ease-in;
}

/* client */
#client {
  padding: 100px 0 0 0;
}

/* testimoni */
#testimoni {
  padding: 100px 0 0 0;
}
.test-bg {
  background: radial-gradient(rgba(238, 236, 236, 1), rgba(254, 222, 215, 0.54));
  width: 1300px;
  height: 368px;
  border-radius: 20px;
  padding: 40px;
}

/* portofolio */
#portofolio {
  padding: 100px 0 0 0;
}
.img-porto {
  width: 90%;
  margin-top: 50px;
}

/* benefit */
#benefit {
  padding: 100px 0 0 0;
}
.card-benefit {
  width: 288px;
  height: 288px;
  border-radius: 20px;
  padding: 10px 10px 15px 20px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
  margin-top: 70px;
  transition: all 0.1s ease-in;
}
.card-benefit h3 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 130px;
  transition: all 0.2s ease-in;
}
.card-benefit p {
  font-size: 14px;
  font-weight: 400;
  width: 90%;
  text-align: justify;
  line-height: 25px;
  transition: all 0.2s ease-in;
}
.red-card {
  background-color: rgba(255, 144, 120, 0.85);
}
.yellow-card {
  background-color: rgba(234, 215, 98, 0.85);
}

/* paket */
#paket {
  padding: 100px 0 0 0;
}
.card-paket {
  width: 354px;
  border-radius: 20px;
  background-color: #dbdad6;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.1s ease-in;
}
.judul {
  margin: none;
}
.judul h3 {
  font-weight: 700;
  font-size: 32px;
  color: #ead762;
  -webkit-text-stroke: 1px rgba(113, 113, 113, 1);
}
.judul p {
  font-weight: 600;
  font-size: 24px;
  text-decoration-line: line-through;
  color: #8c95e3;
}
.judul h4 {
  font-weight: 700;
  font-size: 32px;
  color: #fe1376;
}
.tombol-small {
  background-color: rgba(151, 71, 255, 0.8);
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: none;
  width: 183px;
  height: 41px;
  text-align: center;
  line-height: 28px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  margin-left: 60px;
}
/* footer */
#footer {
  margin-top: 150px;
  background: linear-gradient(360deg, #ff9078 62.58%, rgba(254, 222, 215, 0.54) 155.21%);
  height: 60vh;
  width: 100%;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
}
